<div class="top-menu">

    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<h1>
    Hello
</h1>
<div class="demo" *ngIf="false">
    <div>
        Start Date: {{startDate | date:'MMM/dd/yyyy'}}
    </div>
    <div>
        Title: {{title|titlecase}}
    </div>
    <div>
        Number: {{price | currency:'INR'}}
        Number: {{price | percent}}
    </div>
</div>

<div class="courses" #myDivContainer>

    <!-- <course-card *ngFor="let course of courses | slice:0:3;index as i; first as isFirst; last as isLast;even as isEven; odd as isOdd"

        [class.is-first]="isFirst"
        [class.is-last] = "isLast"        
        [class.is-even] = "isEven"        
        [class.is-odd] = "isOdd"        

      [course]="course" [cardindex]="i+1" ></course-card> -->

    <!-- <course-card [course]="courses[0]" #myCardRef1 (courseSelected)="onCourseSelected($event)">
    </course-card>
    <course-card [course]="courses[1]" #myCardRef2 (courseSelected)="onCourseSelected($event)">
    </course-card> -->

    <!-- <button (click)="onCoursesEdited()">Edit Courses</button>
    <course-card #myChildren *ngFor="let course of courses; index as i"
            [course]="course" [cardindex]="i">
        </course-card> -->
        <ng-template #blankImageTemplate let-message="description">
           <p class="warn">  {{message}} No Image available</p>
           <img src="/assets/empty-image.png">
       </ng-template>     

    <container class="courses" *ngIf="courses[0] as myCourse">
        <course-card [course]="myCourse" [inputBlankImgTemplate] = "blankImageTemplate">
            
            
          
            <!-- <course-image [srcs]="myCourse.iconUrl"
            ></course-image> -->
        </course-card>
       
    </container>

    
   

</div>